a.active
{
	color: red !important;
}

li > a.active
{
	background-color: green;
}

.back-item
{
	margin-top: 18px;
}

.sidebar .nav-item {
	padding-bottom: 3.5px !important;
	padding-top: 3.5px !important;
}

.nav-item i {
  margin-right: 9px;
}

.nav-item span
{
  opacity: 0.68;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

.nav .divider
{
	margin-top: 12px;
    margin-bottom: 14px;
}

.btn-logout
{
  width: 178px;
  height: 36px;
  opacity: 0.68;
  border-radius: 3px;
  border: solid 1px #FFFFFFAD;
  background-color: transparent;
  opacity: 0.68;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #FFFFFFAD;
  width: 178px;
}

.btn-logout:hover
{
  color: #FFFFFFFF;
  border: solid 1px #FFFFFFFF;
}