<div>
	<div class="w-100 close-container">
		<img src="assets/close.svg" class="float-right">
	</div>

	<div>
		<h1 class="dialog-title text-center">
			Add Contact
		</h1>
	</div>

	<div class="mt-3">
	    <mat-label class="active">First Name</mat-label>
		<mat-form-field class="w-100">
          <input matInput type="text">
        </mat-form-field>
	</div>
	<div>
	    <mat-label class="active">Last Name</mat-label>
		<mat-form-field class="w-100">
          <input matInput type="text">
        </mat-form-field>
	</div>
	<div>
	    <mat-label class="active">Company</mat-label>
		<mat-form-field class="w-100">
          <input matInput type="text">
        </mat-form-field>
	</div>
	<div>
	    <mat-label class="active">Email</mat-label>
		<mat-form-field class="w-100">
          <input matInput type="text">
        </mat-form-field>
	</div>
	<div>
	    <mat-label class="active">Phone</mat-label>
		<mat-form-field class="w-100">
          <input matInput type="text">
        </mat-form-field>
	</div>

	<div>
		<mat-label class="active">Notes</mat-label>
		<div class="text-container pt-2">
			<textarea class="w-100 p-2 h-100">John found us through a recommended website. He is interested in season tickets in section 112. I need to call him on Friday to finalize his tickets.
			</textarea>
		</div>
	</div>

	<div class="row px-2 mt-3">
		<div class="col-md-6 px-2">
			<button class="btn button-transparent w-100 mt-1 mb-1">
				CANCEL
			</button>
		</div>
		<div class="col-md-6 px-2">
			<button class="btn button-green w-100 mt-1 mb-1">
				ADD USER
			</button>
		</div>
	</div>

</div>