<div class="page-container d-flex">
	<div class="signup-container mr-auto ml-auto flex-width justify-content-center align-self-center container-fluid">
		<div class="row justify-content-center mt-4">
			<div class="logo-container">
				<img src="assets/logo.png" class="w-100">
			</div>
		</div>
		<div class="row mt-4 signup-label">
			<h3 class="signup-label w-100">
				SMS VERFIFICATOIN CODE
			</h3>
        </div>
        
        <form>
            <div class="row justify-content-center form-container">
                <div class="col-9 {{nStep==1?'error':''}}">
                    <mat-error [hidden]="nStep != 1">Sorry that number is not valid. Please enter a US phone number.</mat-error>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Mobile Number" type="tel">
                    </mat-form-field>
                </div>
            </div>
    
    
            <div class="row justify-content-center mt-4 mb-5">
                  <div class="col-5">
                    <button class="w-100 btn_signup" (click)="sendVerificationCode()">TEXT ME</button>
                  </div>
            </div>
        </form>
	</div>
</div>
