<div class="page-container d-flex">
  <div
    class="signup-container mr-auto ml-auto flex-width justify-content-center align-self-center container-fluid"
  >
    <div class="row justify-content-center mt-4">
      <div class="logo-container">
        <img src="assets/logo.png" class="w-100" />
      </div>
    </div>
    <div class="row mt-4 signup-label">
      <h3 class="signup-label w-100">
        SIGN UP
      </h3>
    </div>
    <div class="row justify-content-center form-container">
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput placeholder="First Name" type="text" />
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput placeholder="Last Name" type="text" />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput placeholder="Email" type="email" />
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput placeholder="Mobile Number" type="tel" />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput placeholder="Company Name" type="text" />
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput placeholder="Password" type="password" />
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center mt-4 mb-5">
      <div class="col-5">
        <button class="w-100 button-transparent btn_cancel">Cancel</button>
      </div>
      <div class="col-5">
        <button class="w-100 btn_signup">SIGN UP</button>
      </div>
    </div>
  </div>
</div>
