<div>
	<div class="m-2">
		<span class="upload-title">
			Upload a File
		</span>

		<span class="material-icons float-right button-close">close</span>
	</div>

	<div class="row upload-container">
		<div class="icon-container">
			<span class="material-icons">cloud_upload</span>
		</div>

		<div class="col">
			<h5 class="file-name">
				awesome-file.mp3
			</h5>
			<div>
				<span class="progress-title">
					Uploading Progress
				</span>

				<span class="material-icons float-right button-delete">delete</span>
			</div>

			<div>
				<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
			</div>
		</div>
	</div>
</div>