<div>
	<div>
		<button class="btn button-green float-right" (click)="onAddContact()">
			ADD CONTACT
		</button>
	</div>
	<div class="mt-2 ml-n3 mr-n3">
        <div class="mt-2">
          <table class="table table-borderless table-striped">
            <thead>
            <tr>
              <th class="text-left"></th>
              <th class="text-left">Name</th>
              <th class="text-left">Company</th>
              <th class="text-left">Phone</th>
              <th class="text-left">Last Activity</th>
              <th style="width: 36px" class="text-left"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of contacts_list">
              <td class="text-left">
              	<span class="material-icons">perm_contact_calendar</span>
              </td>
              <td class="text-left">{{contact.name}}</td>
              <td class="text-left">{{contact.company}}</td>
              <td class="text-left">{{contact.phone}}</td>
              <td class="text-left">{{contact.last_activity}}</td>
              <td class="text-right">
                <span class="material-icons">navigate_next</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>